{% extends 'base/template.html' %}

{% load static %}

{% block title %}
Lista de filme
{% endblock title %}

{% block content %}
    <div class="row valign-wrapper" style="height: 10vh; ">
        <div class="col s12 center-align fs-title" style="margin-top: 5rem; font-size: 2rem;">
            Top 5 movies this week
        </div>
    </div>
    <div class="valign-wrapper" style="height: 76vh;">
        <div>
            <div class="row">
                <div class="col s1"></div>
                {% for i in 'iiiii' %}
                    <div class="col s2">
                        <img src="{% static 'img/background.gif' %}" class="home-img">
                        <div class="row">
                            <div class="col s12 center" style="font-size: 1.5rem;">
                                Avenger: spiderman homecoming
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center">
                                Rating: 8.6
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- <a href="{% url 'movie_list_create' %}">Add movie to list</a>

    {% for movie in object_list %}
    
        <a href="{% url 'movie_list_detail' slug=movie.slug %}"><h2> {{ movie.title }} </h2></a>
        <h3> {{ movie.category }} </h3>

    {% endfor %} -->

{% endblock content %}
