{% extends 'base/template.html' %}

{% load static %}

{% block title %}MSweb{% endblock title %}

{% block content %}
    <div class="row" style="height: 10vh; margin-bottom: 4rem; ">
        <div class="col s12 center-align fs-title" style="margin-top: 5rem; font-size: 2rem;">Top 3 movies this week</div>
    </div>
    <div style="height: 72vh;">
        <div class="row center" >
            {% for movie in top_movies %}
                <div class="col l4 s12">
                    <img height="450" src="{{movie.poster}}">
                    <div class="row">
                        <div class="col s12" style="font-size: 1.5rem;">{{movie.movie_title}}</div>
                    </div>
                    <div class="row">
                        <div class="col s12">Rating: {{movie.rating|floatformat:1}}</div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}
