{% extends 'base/template.html' %}

{% load static %}

{% block title %}
    {{ movielist.title }}
{% endblock title %}

{% block content %}
    <div class="section">
        <div class="container">
            <h1 class="center" style="margin-bottom: 5rem;">{{ movielist.title }}</h1>
            <div class="row">
                <div class="col s12 center">
                    <a href="{% url 'movie_search' slug=movielist.slug %}" class="btn deep-orange darken-2">Add new movie</a> 
                </div>
            </div>
            <div class="row">
                {% for movie in object_list %}
                <div class="col s4">
                    <div class="row">
                        <div class="col s12">
                            <div class="card" style="height: 32rem;">
                                <div class="card-image">
                                    <img height="200" src="{{movie.poster}}" alt="">
                                    <a href="{% url 'movie_delete' slug=movielist.slug pk=movie.pk %}" class="btn-floating btn-small halfway-fab deep-orange"><i class="material-icons">clear</i></a>
                                </div>
                                <div class="card-content">
                                    <span class="card-title center">{{movie.movie_title}}</span>
                                    <p>{{movie.plot}}</p>
                                    <div class="row" style="margin: 1rem 0 0 0;">
                                        <div class="col s12 center">
                                            {% if movie.rating == None %}
                                                <a href="{% url 'movie_rating' slug=movielist.slug pk=movie.pk %}?imdb_id={{movie.imdb_id}}" class="btn btn-small deep-orange darken-4">Give a rating</a>
                                            {% else %}
                                                <p>Rating: {{ movie.rating }} <a href="{% url 'movie_update_rating' slug=movielist.slug pk=movie.pk %}?imdb_id={{movie.imdb_id}}"><i class="material-icons">edit</i></a>  
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}