{% extends 'base/template.html' %}

{% load static %}

{% block title %}
    {{ object.title }}
{% endblock title %}

{% block content %}
    <div class="section">
        <div class="container">
                 <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
            
                    {{ form.non_field_errors }} 
                   
                     <div class="row">
                        <div class="input-field col s12">
                            {{ form.rating }}
                            <label for="{{ form.rating.id_for_label }}">Rating</label>
                        </div>
                        {% for error in form.rating.errors %}
                            <span class="left red-text" >* {{ error }}</span>
                        {% endfor %}
                    </div>
            
                <div class="row center">
                    <input class="btn deep-orange" type="submit" value="Submit rating">
                </div>
            </form>
        </div>
    </div>
{% endblock content %}