{% extends 'base/template.html' %}

{% load static %}

{% block title %}
    My list
{% endblock title %}

{% block content %}
    <div class="section"></div>
    <div class="container">
        <div class="row">
            <div class="col l6 offset-l3 s10 offset-s1 center">
                <a href="{% url 'movie_list_create' %}"><button class="btn deep-orange darken-3" style="width: 50%;">Create new list</button></a>
            </div>
        </div>
        {% if object_list %}
        <div class="card-panel">
            <div class="row">
                <div class="col s3 center list_title">Name</div>
                <div class="col s8 center list_title">Description</div>
            </div>
            <hr><br>
            {% for list in object_list %}
                <div class="row">
                    <div class="col s3 center"><a href="{% url 'movie_list_detail' slug=list.slug %}" class="deep-orange-text">{{ list.title }}</a></div>
                    <div class="col s8 center">{{ list.description }}</div>
                    <div class="col s1 "><a href="{% url 'movie_list_delete' slug=list.slug %}"><i style="margin-right: 1rem;" class="material-icons red-text">clear</i></a></div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <div class="section"></div>
            <h2 class="center">No lists created</h2>
        {% endif %}
    </div>
    
{% endblock content %}